<h4 *ngIf="!allowEdit">You are not allow to edit this server</h4>
<div *ngIf="allowEdit">
  <div class="form-group">
  <!--
    added a simple reload link right
    this works when we use an absolute path, routerLink does its prevent default, analyze, parse, and find
    the absolute path that it loads is from root, the slash /
    when loading from root, it is localhost:4200 - then routerLink finds /servers - which I defined in
    our router config in app.module
    *****
    if I used a relative path here, it would break because it would add '/servers' to the currently loaded
    path - which is localhost:4200/servers - well in my app.module, I did not define such a path
   -->
  <a routerLink="/servers">Reload Current Server</a>
  <br>
  <label for="name">Server Name</label>
  <input
    type="text"
    id="name"
    class="form-control"
    [(ngModel)]="serverName">
</div>
<div class="form-group">
  <label for="status">Server Status</label>
  <select
    id="status"
    class="form-control"
    [(ngModel)]="serverStatus">
    <option value="online">Online</option>
    <option value="offline">Offline</option>
  </select>
</div>
<button
  class="btn btn-primary"
  (click)="onUpdateServer()">Update Server</button>
</div>

