<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label for="newUser">Username:</label>
      <input
        type="text"
        id="newUser"
        class="form-control"
        #newUser
      >
    </div>
    <div class="form-group">
      <select class="form-control" #status>
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>
    </div>
    <button class="btn btn-success btn-sm"
    (click)="onCreateUser(newUser.value, status.value)">
    Add User</button>
  </div>
</div>
