<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!--
        adding these elements to the route directly on the link here, we did the same in the home comp
        by adding a button, calling method once clicked, then adding these same elements to the route/URL
        in the typeScript code, in the home.comp file
       -->
      <!--
        using the [] around routerLink and our path is for segmenting the URL in a more specific fashion
        with the array you can pass the path and then additional data, such as an ID
      -->
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading..."
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <!-- adding query sections and fragments to your route, could add multiple query paras within
        that object you pass, in the URL, they are separated by the &, fragments are separated by a #
      -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--
      any child routes of /servers, config'ed in app.module will load here
     -->
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-md btn-info" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server> -->
  </div>
</div>

